.button {
  margin: 0 1px;
  background-color: transparent;
  padding: 5px 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s linear;
}

.button:hover {
  box-shadow: none;
  border-color: black;
}
