.header {
    background-color: whitesmoke;
}
.container {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: whitesmoke;
    /* max-width: 1200px; */
}
.block {
    max-width: 600px;
    margin: 10px;
    /* position: relative; */
}
.picture {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.form {
    display: flex;
}

.input {
    margin: 0 5px;
    padding: 4px 10px;
    transition: 0.25s linear;
    width: 200px;
}

.input:hover {
    box-shadow: none;
    border-color: black;
}

.input:focus::-webkit-input-placeholder {color: transparent}
.input:focus::-moz-placeholder          {color: transparent}
.input:focus:-moz-placeholder           {color: transparent}
.input:focus:-ms-input-placeholder      {color: transparent}